@import "../3rdparty/bootstrap/mixins/grid.less";
@import "../3rdparty/bootstrap/mixins/grid-framework.less";
@import "../3rdparty/bootstrap/variables.less";
@import "../3rdparty/bootstrap/grid.less";

body, html {
	margin: 0;
	padding: 0;
    font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
    font-weight: normal;
}

main {
    padding-top: 100px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.container {
    color: #333;

    h1 {
        font-size: 90px;
    }

    p {
        margin-bottom: 20px;
        font-size: 30px;
    }
}

.cmp-email-form {
    position: fixed;
    bottom: 0;
    display: block;
    padding: 20px;
    width: 100%;
    font-size: 24px;
    background-color: #97cbf0;

    input, button {
        font-size: 24px;
    }
}
