@import "../3rdparty/bootstrap/mixins/grid.less";
@import "../3rdparty/bootstrap/mixins/grid-framework.less";
@import "../3rdparty/bootstrap/variables.less";
@import "../3rdparty/bootstrap/grid.less";

@import "header.less";
@import "main.less";
@import "footer.less";

@import "newArticle.less";

body, html {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

a {
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}
