@import "variables.less";

.footer {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    height: @footerHeight;
    padding: 10px 20px 20px;
    color: white;
    font-family: Oswald, sans-serif;
    font-size: @footerFontSize;
    background-color: @focusColor;

    .contacts {
        display: inline-block;
        width: 50%;
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            margin: 0 0 5px;
        }

        a {
            color: white;
        }
    }

    .email-form {
        display: inline-block;
        
        h3 {
            font-size: @footerFontSize;
        }
        
        .input-email {
            padding: 5px;
            border: 0;
        }
        
        .btn-submit {
            padding: 5px 20px;
            cursor: pointer;
            color: white;
            background-color: lighten(@focusColor, 8%);
            border: 0;
            
            &:disabled {
                color: #666;
                background-color: #ccc;
            }

            &:hover {
                background-color: lighten(@focusColor, 10%);
            }
        }
    }
}
